#main {

    display: flex;
    justify-content: center;
    -moz-appearance: none;
    background-color: grey;

}

#core {
    display: flex;
 	align-items: center;
 	justify-content: center;
    background-color: grey;
    position: relative;
    margin: 300px 100px 300px 100px;
    flex-direction: column;
}


#logo-div {
	/*position: absolute;
	margin-top: 50%;
	margin-left: 50%;*/
	
}

#search {
	
	border-radius: 50px;
	/*position: absolute;*/
}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
	display: inline;
}

a {
	padding: 8px;
	text-decoration: none;
	color: grey;
}

/*a:visited {
	text-decoration: none;
}*/

/*#navbar {
	display: flex;
}

#navset2 {
	margin-left: 93%;
}

*/

/*test*/