#main {

    display: flex;
    justify-content: center;
    -moz-appearance: none;
    background-color: grey;

}

#core {
    display: flex;
 	align-items: center;
 	justify-content: center;
    /*background-color: grey;*/
    position: relative;
    margin: 300px 100px 300px 100px;
    flex-direction: column;
}


#logo-div {
	/*position: absolute;
	margin-top: 50%;
	margin-left: 50%;*/
	
}

#search {
	
	border-radius: 50px;
	/*position: absolute;*/
}

ul {

	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

li {
	display: inline-block;
	margin: 0px 20px 0px 20px;
}

a {color: grey;}

li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

  #head-nav {

  	display: flex;
  	justify-content: center;

  }

  #foot-nav {
  	display: flex;
  	justify-content: center;
  }

/*a:visited {
	text-decoration: none;
}*/

/*#navbar {
	display: flex;
}

#navset2 {
	margin-left: 93%;
}

*/

/*test*/